-# - breadcrumb :notifications, @notifications
.wrapper3
  .container__mypage
    .news-tab__profile
      = image_tag "mypage profile.png", class: 'profile-image'
      .news-tab__profile__icon
        = image_tag "member_photo.png", class: 'member_photo'
    .new__content
      .new__content__message
        %figure
          = image_tag "logo.png", class: 'logo-image'
        .new__content__message__text  
          ポイントがもらえるキャンペーン開催中
        %i.fa.fa-chevron-right
      .new__content__message
        %figure
          = image_tag "logo.png", class: 'logo-image'
        .new__content__message__text
          事務局から個別メッセージ「ログイン通知」
        %i.fa.fa-chevron-right
      .new__content__message
        %figure
          = image_tag "logo.png", class: 'logo-image'
        .new__content__message__text
          事務局から個別メッセージ「ログイン通知」
        %i.fa.fa-chevron-right
      .new__content__message
        %figure
          = image_tag "logo.png", class: 'logo-image'
        .new__content__message__text
          最大P1,000がもらえるキャンペーンが開催中
        %i.fa.fa-chevron-right
      .new__content__message
        %figure
          = image_tag "logo.png", class: 'logo-image'
        .new__content__message__text
          ポイントがもらえるキャンペーン開催中！
        %i.fa.fa-chevron-right