-# - breadcrumb :notifications, @notifications
.wrapper3
  .container__mypage
    .container__mypage__content
      .news-tab__profile
        %figure
          = image_tag "mypage profile.png", class: 'profile-image'
        .news-tab__profile__icon
          %figure
          = image_tag "member_photo.png", class: 'member_photo'
          .news-tab__profile__icon__user
        .new__content
          .new__content__message
            %figure
              = image_tag "logo.png"
            .new__content__message__text  
              ポイントがもらえるキャンペーン開催中
            %i.fa.fa-chevron-right
          .new__content__message
            %figure
              = image_tag "logo.png"
            .new__content__message__text
              事務局から個別メッセージ「ログイン通知」
            %i.fa.fa-chevron-right
          .new__content__message
            %figure
              = image_tag "logo.png"
            .new__content__message__text
              事務局から個別メッセージ「ログイン通知」
            %i.fa.fa-chevron-right
          .new__content__message
            %figure
              = image_tag "logo.png"
            .new__content__message__text
              最大P1,000がもらえるキャンペーンが開催中
            %i.fa.fa-chevron-right
          .new__content__message
            %figure
              = image_tag "logo.png"
            .new__content__message__text
              ポイントがもらえるキャンペーン開催中！
            %i.fa.fa-chevron-right