= render partial: 'header' 
.toppage-main
  %section.main-visual
    .content
      %h2.content__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .content__icon
        = link_to image_tag("/app.png", class:"link-icon.abtn"),"#"
        = link_to image_tag("/google.png", class:"link-icon.gbtn"),"#"
    .picture
  %section.introduction
    %h2.head
      FURIMAが選ばれる3つの理由
    %ul.introduction-lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag "/material/pict/pict-reason-01.jpg"
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag "/material/pict/pict-reason-02.jpg"
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list-last
        .list__pict
          %span.number 3
          = image_tag "/material/pict/pict-reason-03.jpg"
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__description
          最大3%でお得に出品&amp;購入！
  %section.middle
    .middle-inner
      %h2.middle-inner__subtitle 会員数日本一位
      %p.middle-inner__text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .middle-inner__icon
        = link_to image_tag("/app.png", class:"link-icon.abtn"),"#"
        = link_to image_tag("/google.png", class:"link-icon.gbtn"),"#"
  %section.features
    %h2.head FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag "/material/icon/icon-01.png"
        %h3.item__subtitle 簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          = image_tag "/material/icon/icon-02.png"
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.item
        %figure.item__img
          = image_tag "/material/icon/icon-03.png"
        %h3.item__subtitle 様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
.toppage-main2
  %section.pickup-container
    %h2.head ピックアップカテゴリー
    .product-box
      .product-head
        = link_to "新規投稿商品","#", class: "title"
      .product-lists
        .product-list
          - @products.each do |product|
            = link_to "/products/#{product.id}", class: "box" do
              %figure.product-list__img
                = image_tag product.images[0].image_url,class:"img"
                - unless product.status == 0
                  .main-products__items-box__list--sold-out--box
                  .main-products__items-box__list--sold-out--text SOLD
              .product-list--body
                %h3 #{product.name}
                .details  
                  %ul
                    %li #{product.price}円
                    %li
                  %p (税込)
  %section.pickup-container
    
= render partial: 'footer' 