- image = @product.images.first
= render partial: 'header' 
.show-backbround-color
  .show-main
    .content
      .product
        .item-box
          %h2.item-box__name
            = @products = Product.all
          .item-box__body
            %ul
              %li
                = image_tag image.image_url.url,class:"main-image"
                %ul
                  - @product.images.each do |image|
                    %li
                      = image_tag image.image_url.url,class:"image-list"
          .item-box__price
            %span
              = @product.price
            .item-box__price--detail
              %span
                (税込)
              %span
                送料込み
          .item-detail 
            = @product.name
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    = @seller.nickname
                %tr
                  %th カテゴリー
                  %td
                    = @product.category.name
              - if @product.brand.present?
                %tr
                  %th ブランド
                  %td
                    = @product.brand.name
              - if @product.size.present?
                %tr
                  %th 商品のサイズ
                  %td
                    = @product.size
                %tr
                  %th 商品の状態
                  %td 
                    = @product.condition
                %tr
                  %th 配送料の負担
                  %td 
                    = @product.postage_burden
                %tr
                  %th 発送元の地域
                  %td
                    = @product.area.name
                %tr
                  %th 発送日の目安
                  %td
                    = @product.scheduled_sending_date
          .optional-area
            %ul
              %li#like-btn.optional-btn.like-btn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optional-btn
                = link_to "", class: "title" do
                  %i.fa.fa-flag
                  不適切な商品の通報
          .buy-btn
            -if user_signed_in?
              = link_to "削除", product_path(@product.id), method: :delete, class: "destroy-btn"
              = link_to '編集', edit_product_path(@product.id), class: "edit-btn"
            -else
              = link_to "購入画面に進む","/" 
        .comment-box
          %ul.comment-contents
          %textarea#comment_body{name: "comment[body]", required: "required"}
          %p.notice-msg
            相手のことを考え丁寧なコメントを心がけましょう。
          %p.notice-msg
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button.comment-btn{name:  "button", type: "submit"}
            %i.fa.fa-comment
            コメントする
= render partial: 'footer' 